<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1 align=center >Nginx, configured by Ansible</h1>
  <p align=center >If you can see this, Ansible successfully installed nginx.</p>

  <p align=center>Running on {{ inventory_hostname }}</p>
  </body>
</html>